<div class="flex-row">
	<%= image_tag other_user.profile_pic, class: "profile-thumb-sm panel-left" %>
	<div class="stretchy text-center">

		
		<% if @user.friends.include?(other_user) %>

			<%= link_to other_user.name, other_user %>
			<%= link_to friendship_path(@user.friendship_with(other_user.id).first.id), class: "btn btn-danger btn-block", method: :delete, data: { confirm: "Are you sure you want to stop being friends with #{other_user.name}?" }, remote: true do %> 
				<span class="glyphicon glyphicon-remove"></span>&nbsp;Remove Friend
			<% end %>
		
		<% else %>

			<%= form_for @new_friendship, remote: true do |f| %>
				<%= f.hidden_field :sender_id, value: @user.id %>
				<%= f.hidden_field :receiver_id, value: other_user.id %>
				<%= link_to other_user.name, other_user %>
				<%= button_tag(type: 'submit', class: "btn btn-success btn-block") do %>
					<span class="glyphicon glyphicon-plus"></span>&nbsp;Add Friend
				<% end %>
			<% end %>

		<% end %>

	
	</div>
</div>